:root {
	--background: hsl(217deg, 73%, 13%);
	--main: hsl(0deg, 0%, 96%);
	--white: hsl(0deg, 0%, 100%);
	--green: hsl(144, 71%, 62%);
	--purple: hsl(248deg, 100%, 60%);
}

html {
	height: 100%;
	font-size: 10px;
}

body {
	min-width: 400px;
	height: 100%;
	margin: 0;
	font-family: 'Karla', sans-serif;
	font-size: 1.6rem;
	background-color: var(--background);
}

#root {
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

/***************main***************/

main,
.popup {
	position: relative;
	width: clamp(350px, 70%, 550px);
	aspect-ratio: 1/1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	font-size: clamp(1.5rem, 2.5vw, 2rem);
	border-radius: 7px;
	background-color: var(--main);
	box-shadow: 0 30px 60px -12px hsla(240deg, 30%, 14%, 0.25),
	0 18px 36px -18px hsla(0deg, 0%, 0%, 0.5);
}

/***************text***************/

.instructions {
	text-align: center;
}

.instructions h1 {
    margin: 0;
    font-size: 2em;
}

.instructions p {
	margin: .5em 0 0;
    font-family: 'Inter', sans-serif;
	font-size: .75em;
    font-weight: 400;
}

/***************die***************/

.wrapper-dice {
	--gap: 5%;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	gap: 20px var(--gap);
	color: var(--background);
	font-size: 1.75em;
	font-weight: 700;
}

.die {
	aspect-ratio: 1/1;
	display: grid;
	place-items: center;
	flex: 0 1 calc(20% - var(--gap) * 4/5);
	border-radius: 15px;
	background-color: var(--white);
	box-shadow: 0px 3px 10px hsla(0, 0%, 0%, 0.15);
	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	transition: transform .1s ease, background-color .3s ease;
}

.die:is(.d1, .d2, .d3, .d4, .d5, .d6) {
	box-sizing: border-box;
	padding: 8px;
	grid-template-areas: "a b c"
						 "d e f"
						 "g h i";
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
}

.die:active {
	transform: scale(94%);
}

.die.held {
	background-color: var(--green);
}

.die span {
	width: 70%;
	aspect-ratio: 1/1;
	background-color: hsl(0deg, 0%, 0%);
	border-radius: 50%;
}

:is(.d1, .d3, .d5) span {
	grid-area: e;
}

.die:not(.d1) span:first-child {
	grid-area: a;
}

:is(.d4, .d5, .d6) span:nth-child(2) {
	grid-area: g;
}

:is(.d4, .d5, .d6) span:nth-child(3) {
	grid-area: c;
}

.d6 span:nth-child(4) {
	grid-area: d;
}

.d6 span:nth-child(5) {
	grid-area: f;
}

.die:not(.d1) span:last-child {
	grid-area: i;
}

/***************roll***************/

.btn-roll,
.btn-popup {
	width: 20%;
	min-width: max-content;
	padding: .4em .5em;
	color: var(--main);
	font-family: inherit;
	font-size: 1.25em;
	font-weight: 700;
	white-space: nowrap;
	border: 0;
	border-radius: 7px;
	background-color: var(--purple);
	box-shadow: 0px 3px 10px hsla(0, 0%, 0%, 0.3);
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform .1s ease;
}

:is(.btn-roll, .btn-popup):active {
	transform: scale(97%);
}

:is(.btn-roll, .btn-popup):focus-visible {
	outline: 2px solid black;
	outline-offset: -1px;
}

/***************scores***************/

.scores {
	box-sizing: border-box;
	width: 100%;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.scores h2 {
	margin: 0;
	flex: 1 1 50%;
	font-family: monospace;
	font-size: 1.2em;
	pointer-events: none;
	user-select: none;
}

.scores h3 {
	margin: 0;
	font-size: 2em;
	text-align: center;
	flex: 1 0 5ch;
	pointer-events: none;
	user-select: none;
}

.wrapper-design {
	flex: 1 1 50%;
}

.die:is(button) {
	width: max(38px, 26%);	
	margin-left: auto;
	color: var(--background);
	font-family: inherit;
	font-size: 1.5em;
	font-weight: 700;
	border: 0;
	box-shadow: 0px 3px 10px hsla(0, 0%, 0%, 0.25);
}

.die:is(button):focus-visible {
	outline: 2px solid black;
	outline-offset: -1px;
}

/***************popup***************/

.popup {
	z-index: 3;
	position: absolute;
	width: clamp(296px, 57%, 450px);
	justify-content: center;
	gap: 8%;
	font-size: clamp(1.2rem, 2vw, 1.6rem);
	box-shadow: 0px 3px 15px hsla(0, 0%, 0%, 0.3);
	text-align: center;
	animation: popup 1s ease;
}

@keyframes popup {
	from {
		opacity: 0;
		transform: scale(0%);
	}

	to {
		opacity: 1;
		transform: scale(100%);
	}
}

.popup h2 {
	margin: .5em 0;
}

.popup .best-score {
	font-weight: normal;
}

.popup h3 {
	font-size: 1.45em;
}

.btn-popup {
	padding: .6em 1em;
}